<!DOCTYPE html>
<html lang="pt-br" style="color: rgb(0,0,0);">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Gabi Cavalcanti - Blog</title>
    <link rel="apple-touch-icon" type="image/png" sizes="180x180" href="assets/img/logo2%201%203.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/img/logo2%201%2016.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/logo2%201%202.png">
    <link rel="icon" type="image/png" sizes="180x180" href="assets/img/logo2%201%203.png">
    <link rel="icon" type="image/png" sizes="192x192" href="assets/img/logo2%201%204.png">
    <link rel="icon" type="image/png" sizes="512x512" href="assets/img/logo2%201%205.png">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kaushan+Script&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Angkor&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Anton&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Antonio&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bebas+Neue&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Beth+Ellen&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Droid+Serif">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Gochi+Hand&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Homemade+Apple&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Righteous&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Mono&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Staatliches&amp;display=swap">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/material-icons.min.css">
    <link rel="stylesheet" href="assets/fonts/typicons.min.css">
    <link rel="stylesheet" href="assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.2/dist/jquery.fancybox.min.css">
    <link rel="stylesheet" href="assets/css/-Filterable-Cards-.css">
    <link rel="stylesheet" href="assets/css/-Filterable-Gallery-with-Lightbox-BS4-.css">
    <link rel="stylesheet" href="assets/css/-Fixed-Navbar-start-with-transparency-background-BS4-.css">
    <link rel="stylesheet" href="assets/css/Animated-CSS-Waves-Background-SVG.css">
    <link rel="stylesheet" href="assets/css/Animated-Heading---Left-Aligned.css">
    <link rel="stylesheet" href="assets/css/Basic-fancyBox-Gallery-v2.css">
    <link rel="stylesheet" href="assets/css/Bootstrap-4---Photo-Gallery.css">
    <link rel="stylesheet" href="assets/css/Button---GIF-Click---Black--White.css">
    <link rel="stylesheet" href="assets/css/Continue-Button.css">
    <link rel="stylesheet" href="assets/css/custom-buttons.css">
    <link rel="stylesheet" href="assets/css/Hover-Button-1.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
    <link rel="stylesheet" href="assets/css/Media-Slider-Bootstrap-3-media.slider.css">
    <link rel="stylesheet" href="assets/css/Media-Slider-Bootstrap-3.css">
    <link rel="stylesheet" href="assets/css/Minimal-tabs-1.css">
    <link rel="stylesheet" href="assets/css/Minimal-tabs.css">
    <link rel="stylesheet" href="assets/css/Modal-commerce-popup-button-1.css">
    <link rel="stylesheet" href="assets/css/Modal-commerce-popup-button.css">
    <link rel="stylesheet" href="assets/css/MySkills-F19687.css">
    <link rel="stylesheet" href="assets/css/Navigation-with-Button.css">
    <link rel="stylesheet" href="assets/css/Neon-Button-Neon-Button.css">
    <link rel="stylesheet" href="assets/css/Profile-with-data-and-skills.css">
    <link rel="stylesheet" href="assets/css/Pulse-Waves-Dot-Animation.css">
    <link rel="stylesheet" href="assets/css/Responsive-Full-Width-Grid-from-codedrops.css">
    <link rel="stylesheet" href="assets/css/Signature-pad--clear-button.css">
    <link rel="stylesheet" href="assets/css/Wave-Flow-Animation.css">
    <link rel="stylesheet" href="assets/css/Waves---DentalTech.css">
</head>

<body style="color: rgb(0,0,0);background: rgb(255,255,255);margin: 0px;">
    <div style="border-color: rgb(0,0,0);width: 100vw;color: rgb(0,0,0);background: #000000;height: 110px;"></div>
    <div>
        <header>
            <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white transparency border-bottom border-light" id="transmenu">
                <div class="container"><a class="navbar-brand d-xl-flex text-success" href="#header"><img src="assets/img/logo2.png" style="width: 50px;" width="50" height="50">&nbsp;</a><button data-bs-toggle="collapse" class="navbar-toggler collapsed" data-bs-target="#navcol-1"><span></span><span></span><span></span></button>
                    <div class="collapse navbar-collapse text-start d-xl-flex" id="navcol-1" style="width: 40%;">
                        <ul class="navbar-nav me-auto">
                            <li class="nav-item"><a class="nav-link fw-light d-xl-flex" href="index.html" style="font-family: 'Roboto Condensed', sans-serif;">HOME</a></li>
                            <li class="nav-item"><a class="nav-link" href="index.html#sobre" style="font-family: 'Roboto Condensed', sans-serif;">SOBRE&nbsp;</a></li>
                            <li class="nav-item" style="color: #333333;"><a class="nav-link" href="index.html#cursos" style="font-family: 'Roboto Condensed', sans-serif;">CURSOS</a></li>
                            <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#" style="font-family: 'Roboto Condensed', sans-serif;">PORTFÓLIO</a>
                                <div class="dropdown-menu"><a class="dropdown-item" href="index.html#portfolio" style="font-family: Roboto, sans-serif;">Todos</a><a class="dropdown-item" href="index.html#ugh" style="font-family: Roboto, sans-serif;">App UGH</a></div>
                            </li>
                        </ul>
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item d-flex align-items-xl-center">
                                <h6 class="d-xl-flex" style="margin-right: 20px;font-family: 'Roboto Condensed', sans-serif;padding-top: 10PX;color: #b386ed;border-color: #e0cece;"><span style="font-weight: normal !important;">SE INTERESSOU?</span></h6><button class="btn btn-primary" type="button" style="background: #bafd34;border-radius: 15PX;font-family: 'Roboto Condensed', sans-serif;padding-right: 20px;padding-left: 20px;padding-top: 10px;padding-bottom: 10px;border-style: none;border-top-style: none;border-right-style: none;border-bottom-style: none;border-left-style: none;color: rgb(0,0,0);">ENTRE EM CONTATO!</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
    </div>
    <div style="border-color: rgb(0,0,0);width: 100vw;color: rgb(0,0,0);background: #bafd34;height: 10px;"></div>
    <div class="d-flex d-lg-flex justify-content-center align-items-center justify-content-lg-center align-items-lg-center" id="barra" style="border-color: rgb(0,0,0);width: 100vw;color: rgb(0,0,0);background: #ff4ec7;height: 200px;"><img class="img-fluid" src="assets/img/blog.png" style="padding-right: 20px;padding-left: 20px;" width="642" height="162"></div>
    <section style="padding-top: 80px;">
        <div class="container">
            <div class="row gx-2 gy-2 row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-3 row-cols-xl-3 row-cols-xxl-3">
                <div class="col" style="background: #ffffff;border: 1px solid rgb(0,0,0);border-radius: 3px;">
                    <div>
                        <h5 style="margin-top: 8px;">Heading</h5>
                    </div>
                    <hr style="background: rgb(0,0,0);margin: 15px 0px;margin-top: 0px;">
                    <p style="color: #333333;font-family: roboto;margin-top: 20px;">Paragraph</p><button class="btn btn-primary" type="button" style="margin-bottom: 10px;width: 100%;background: #bafd34;color: rgb(0,0,0);font-family: 'Roboto Condensed', sans-serif;border-top-style: none;border-right-style: none;border-bottom-style: none;border-left-style: none;">LEIA MAIS</button>
                    <div class="d-flex d-sm-flex d-lg-flex justify-content-end align-items-center justify-content-sm-end align-items-sm-center justify-content-lg-end" style="background: #000000;width: auto;margin-right: -4px;margin-left: -4px;padding-right: 8px;padding-left: 4px;padding-top: 10px;border-bottom-right-radius: 3px;border-bottom-left-radius: 3px;padding-bottom: 10px;"><i class="material-icons" style="color: #ffffff;">person</i>
                        <h6 style="margin-top: 5px;color: #dedede;margin-left: 5px;">Heading</h6>
                    </div>
                </div>
                <div class="col"></div>
                <div class="col"></div>
                <div class="col"></div>
                <div class="col"></div>
            </div>
        </div>
    </section>
    <footer id="footer" style="background: #ff4ec7;border-top: 15px solid #bafd34;padding-bottom: 0px;">
        <div class="container">
            <div class="row">
                <div class="col-md-4"><img data-bss-hover-animate="tada" src="assets/img/logo%20branco%201.png">
                    <ul class="list-inline d-flex d-xxl-flex justify-content-center justify-content-sm-center justify-content-xxl-center social-buttons" style="margin-top: 20PX;">
                        <li class="list-inline-item"><a href="https://www.linkedin.com/in/gabicavalcanti/" style="background: #ffffff;"><i class="fa fa-linkedin" style="color: #ff4ec7;"></i></a></li>
                        <li class="list-inline-item"><a href="#" style="background: #ffffff;"><i class="fa fa-github-alt" style="color: #ff4ec7;"></i></a></li>
                        <li class="list-inline-item"><a href="https://dribbble.com/gabifcavalcanti" style="background: #ffffff;"><i class="fa fa-dribbble" style="color: #ff4ec7;"></i></a></li>
                        <li class="list-inline-item"><a href="https://www.behance.net/gabiafcavalcanti" style="background: #ffffff;"><i class="fa fa-behance" style="color: #ff4ec7;"></i></a></li>
                    </ul>
                    <div class="d-flex flex-column" style="margin-top: 20px;padding-right: 0PX;padding-left: 0PX;"><a class="link-primary d-xxl-flex justify-content-xxl-center" href="#" style="/*color: rgb(255,255,255);*/font-family: 'Roboto Condensed', sans-serif;"><span style="color: rgb(186, 253, 52);">TOPO&nbsp; &nbsp;❤</span></a></div>
                </div>
                <div class="col-md-4 d-xxl-flex flex-column justify-content-xxl-start">
                    <h6 class="d-xxl-flex justify-content-xxl-start" style="color: rgb(255,255,255);margin-bottom: 2PX;text-align: left;"><strong>LINKS ÚTEIS</strong></h6>
                    <div style="height: 1PX;background: #ffffff;width: 50PX;margin-bottom: 20px;"></div>
                    <div class="d-flex d-xl-flex flex-column align-items-start align-items-md-start align-items-lg-start justify-content-xl-start align-items-xl-start"><a class="link-primary d-xxl-flex justify-content-xxl-start" href="CV-GabriellaAlexandraFerreiraCavalcanti.pdf" style="/*color: rgb(255,255,255);*/font-family: 'Roboto Condensed', sans-serif;"><span style="color: rgb(186, 253, 52);">DOWNLOAD CURRÍCULO</span></a><a class="link-primary d-xxl-flex justify-content-xxl-start" href="index.html#ugh" style="/*color: rgb(255,255,255);*/font-family: 'Roboto Condensed', sans-serif;"><span style="color: rgb(186, 253, 52);">PROJETO APP UGH</span></a></div>
                    <h6 class="d-xxl-flex justify-content-xxl-start" style="color: rgb(255,255,255);margin-bottom: 2PX;text-align: left;margin-top: 20PX;"><strong>SUMÁRIO</strong></h6>
                    <div style="height: 1PX;background: #ffffff;width: 50PX;margin-bottom: 20px;"></div>
                    <div class="d-flex flex-column align-items-start align-items-md-start align-items-lg-start align-items-xl-start"><a class="link-primary d-xxl-flex justify-content-xxl-start" href="index.html#sobre" style="/*color: rgb(255,255,255);*/font-family: 'Roboto Condensed', sans-serif;"><span style="color: rgb(186, 253, 52);">SOBRE</span></a><a class="link-primary d-xxl-flex justify-content-xxl-start" href="index.html#cursos" style="/*color: rgb(255,255,255);*/font-family: 'Roboto Condensed', sans-serif;"><span style="color: rgb(186, 253, 52);">CURSOS</span></a><a class="link-primary d-xxl-flex justify-content-xxl-start" href="index.html#portfolio" style="/*color: rgb(255,255,255);*/font-family: 'Roboto Condensed', sans-serif;"><span style="color: rgb(186, 253, 52);">PORTFÓLIO</span></a></div>
                </div>
                <div class="col-md-4">
                    <h6 class="d-xxl-flex justify-content-xxl-start" style="color: rgb(255,255,255);margin-bottom: 2PX;text-align: left;"><strong>CONTATO</strong></h6>
                    <div style="height: 1PX;background: #ffffff;width: 50PX;margin-bottom: 20px;"></div>
                    <div class="d-flex d-xxl-flex justify-content-start justify-content-xxl-start align-items-xxl-center" style="margin-top: 0px;height: AUTO;"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-house-door-fill" style="color: rgb(255,255,255);font-size: 18px;margin-right: 10px;">
                            <path d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5z"></path>
                        </svg><span style="color: rgb(255,255,255);">Rio de Janeiro, RJ - Brasil</span></div>
                    <div class="d-flex d-xxl-flex justify-content-start justify-content-xxl-start align-items-xxl-center" style="margin-top: 0px;height: AUTO;"><i class="fas fa-envelope" style="margin-right: 10px;color: rgb(230,230,230);"></i><span style="color: rgb(255,255,255);">gabiafcavalcanti@gmail.com</span></div>
                    <div class="d-flex d-xxl-flex justify-content-start justify-content-xxl-start align-items-xxl-center" style="margin-top: 0px;height: AUTO;"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-telephone-fill" style="color: rgb(255,255,255);font-size: 18px;margin-right: 10px;">
                            <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"></path>
                        </svg><span style="color: rgb(255,255,255);">+55 21 9 8440-0835</span></div>
                </div>
            </div>
        </div>
        <section style="height: auto;background: #bc3f95;padding-top: 15px;padding-bottom: 15px;border-top: 2px solid rgb(255,255,255);margin-top: 20PX;">
            <h6 class="d-xxl-flex justify-content-xxl-center align-items-xxl-end" style="margin-top: 0px;margin-bottom: 0px;"><span style="font-weight: normal !important; color: rgb(255, 255, 255);">Gabi Cavalcanti © 2022</span></h6>
        </section>
    </footer>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script src="assets/js/Signature-pad--clear-button-1.js"></script>
    <script src="assets/js/Signature-pad--clear-button.js"></script>
    <script src="assets/js/-Filterable-Cards-.js"></script>
    <script src="assets/js/agency.js"></script>
    <script src="assets/js/-Fixed-Navbar-start-with-transparency-background-BS4-.js"></script>
    <script src="assets/js/Animated-Heading---Left-Aligned.js"></script>
    <script src="assets/js/Animated-Scrolled-Down-Heading.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.2/dist/jquery.fancybox.min.js"></script>
    <script src="assets/js/Media-Slider-Bootstrap-3.js"></script>
    <script src="assets/js/Modal-commerce-popup-button.js"></script>
</body>

</html>